@model IEnumerable<EntityLayer.Concrete.Credits>
@{
    ViewData["Title"] = "MyCredits";
    Layout = "~/Areas/Admin/Views/CustomerLayout/Index.cshtml";
}

<link href="~/gentela-gh-pages/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

<link href="~/gentela-gh-pages/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">

<link href="~/gentela-gh-pages/vendors/nprogress/nprogress.css" rel="stylesheet">

<link href="~/gentela-gh-pages/build/css/custom.min.css" rel="stylesheet">
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Odissey Bank</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Axtar...</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="x_content">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Kreditlərim</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>


                                <table id="datatable-buttons" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Əməliyyatın zamanı</th>
                                            <th>Valyuta tipi</th>
                                            <th>Alıcı</th>
                                            <th>Kredit məbləği</th>
                                            <th>Ödəniləcək məbləğ</th>
                                            <th>Kredit faizi</th>
                                            <th>Kredit müddəti</th>
                                            <th>Qalıq borc</th>
                                            <th>Aylıq ödəniş</th>
                                            <th>Əməliyyatlar</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.CustomerAccount.AppUser.UserName ==User.Identity.Name)
                                            {
                                                <tr>
                                                    <td>@item.StartTime.ToString("dd.MM.yyyy HH:mm")</td>
                                                    <td>@item.CustomerAccount.Valutas.Currency</td>
                                                    <td>@item.CustomerAccount.AppUser.Name @item.CustomerAccount.AppUser.Surname</td>
                                                    <td>@item.CreditAmount @item.CustomerAccount.Valutas.Currency</td>
                                                    <td>@item.TotalPayment @item.CustomerAccount.Valutas.Currency</td>
                                                    <td>@item.Percent %</td>
                                                    <td>@item.Period ay</td>
                                                    <td>@((item.CreditDetail.RemainingPayment).ToString("0.00")) @item.CustomerAccount.Valutas.Currency</td>
                                                    <td>@((item.CreditDetail.MonthlyPayment).ToString("0.00")) @item.CustomerAccount.Valutas.Currency</td>
                                                    <td>
                                                     
                                                            <a class="btn btn-success" asp-controller="Credit" asp-action="MonthlyPayment" asp-route-id="@item.Id"><i class="fa fa-coins"></i></a>
                                    
                                                       
                                                        <a class="btn btn-primary" class="alert" asp-action="Document" asp-route-id="@item.Id"><i class="fa fa-file-pdf"></i></a>
                                                    </td>
                                                </tr>
                                            }

                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const button = document.getElementsByName('alert');
    button.addEventListener('click', e => {
        e.preventDefault();

        Swal.fire({
            text: "Sənəd uğurla endirildi!",
            icon: "success",
            buttonsStyling: false,
            confirmButtonText: "Ok!",
            customClass: {
                confirmButton: "btn btn-primary"
            }
        });
    });
</script>